<h1 class="center">Who do you think will win this matchup?</h1>
<div id="image-container">
	<%= image_tag "nfl.png" %>
</div>

<div class="team-container">
	<h2 class="team-header center">Team A</h2>
	<ul class="team-stats-list">
		<li>Overall season record: xx-xx</li>
		<li>Total points for: xx</li>
		<li>Total points against: xx</li>
		<li>5-year matchup record: xx-xx</li>
		<li>Home or away?: xxxx</li>
	</ul>
	<button class="team-button">Team A will win</button>
</div>

<div class="team-container">
	<h2 class="team-header center">Team B</h2>
	<ul class="team-stats-list">
		<li>Overall season record: xx-xx</li>
		<li>Total points for: xx</li>
		<li>Total points against: xx</li>
		<li>5-year matchup record: xx-xx</li>
		<li>Home or away?: xxxx</li>
	</ul>
	<button class="team-button">Team B will win</button>
</div>
