<h1 class="center">All Poll Results</h1>

<h2 class="center">results/Results1385927892494.txt</h2>
<p>Question 1: Team A1
</p>
<p>Question 2: Team B2
</p>
<p>Question 3: Team B3
</p>
<br/>
<h2 class="center">results/Results1385927975180.txt</h2>
<p>Question 1: Team A1
</p>
<p>Question 2: Team A2
</p>
<p>Question 3: Team A3
</p>
<br/>
<h2 class="center">results/Results1385927989788.txt</h2>
<p>Question 1: Team B1
</p>
<p>Question 2: Team B2
</p>
<p>Question 3: Team B3
</p>
<br/>
