<h1 class="center">All Poll Responses</h1>
<h2 class="center">Num responses: <%= Response.count %></h2><br/>

<table border="1" id="responses-table">
	<tr>
		<th>Response</th>
		<th>Q1</th>
		<th>Q2</th>
		<th>Q3</th>
		<th>Q4</th>
		<th>Q5</th>
		<th>Q6</th>
		<th>Q7</th>
		<th>Q8</th>
		<th>Q9</th>
		<th>Q10</th>
		<th>Q11</th>
		<th>Q12</th>
		<th>Q13</th>
		<th>Q14</th>
		<th>Q15</th>
		<th>Q16</th>
	</tr>
	<%= render :partial => "response", :collection => @responses, :as => :response %>
</table>