<h1 class="center">Poll Results</h1>
<br/>
1386120204880
1386120235545
Question 1: Team A1
Question 1: Team A1
Question 2: Team A2
Question 2: Team A2
Question 3: Team A3
Question 3: Team A3
1386120285444<br/>Question 1: Team B1<br/>Question 1: Team B1<br/>Question 2: Team B2<br/>Question 2: Team B2<br/>Question 3: Team B3<br/>Question 3: Team B3<br/><br/>1386120904648<br/>Question 1: Team A1<br/>Question 1: Team A1<br/>Question 2: Team A2<br/>Question 2: Team A2<br/>Question 3: Team A3<br/>Question 3: Team A3<br/>